body {
  font-family: "Poppins", sans-serif;
  margin: 0;
}
h1 {
  font-size: 50px;
}
span {
  color: orange;
}
.flexible-container {
  display: flex;
}
section img {
  width: 100%;
}
.half-width {
  width: 50%;
  padding-left: 5%;
  text-align: justify;
}
.link-button {
  text-decoration: none;
  background-image: linear-gradient(salmon, cyan);
  padding: 8px 20px;
  border-radius: 10px;
  color: white;
}
.top-banner {
  background-image: url(images/top-banner.png);
  background-repeat: no-repeat;
  margin-bottom: 150px;
}
.bottom-banner {
  background-image: url(images/dream-bg.png);
  background-repeat: no-repeat;
  background-position: right;
}
.orange {
  color: orange;
}

.experience-item {
  width: 40%;
  margin-right: 5%;
  margin-left: 5%;
  box-shadow: 10px 10px 40px gray;
  padding-left: 10px;
  border-radius: 10px;
}

.experience-area {
  background-image: url(images/exp-bg.png);
  background-repeat: no-repeat;
  background-position: left;
}
#full-web {
  border-left: 7px solid;
  border-image: linear-gradient(red, cyan);
  border-image-slice: 1;
}
#baby-web {
  border-left: 7px solid;
  border-image: linear-gradient(blue, yellow);
  border-image-slice: 1;
}
footer {
  text-align: center;
}
